:root{
    /* colors */
    --main-background-color: #EEF0EB;

    --navigation-background-color: #153243;
    --navigation-text-color: #ffffff;

    --input-background-color: #f7f8f5bc;
    --input-text-color: #153243;
    --input-border-color: #153243;

    --primary-button-background-color: #632708;
    --primary-button-text-color: #FFFFFF;
    --secondary-button-background-color: #31708E;
    --secondary-button-text-color: #FFFFFF;
    
    --special-button-background-color : #82b0c5dc;

    
    /* font sizes */
    --default-font-size: 16px;
}