{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title id = "t">Add User</title>
        <link rel = "icon" href="{% static 'images/logo.jpg' %}" type = "image/x-icon">
        <meta name="author" content="Sara Walid">

        <script src = "{% static 'scripts/jquery-3.6.3.min.js' %}"></script>
        <script src = "{% 'scripts/script.js' %}"></script>
        <script src = "{% 'scripts/user.js' %}"></script>

        <script src = "{% 'scripts/user_functions.js' %}"></script>


        <link rel = "stylesheet" type = "text/css" href = "{% 'styles/style.css' %}">
        <link rel = "stylesheet" type = "text/css" href = "{% 'styles/user_pages.css'% }">
    </head>

    <body>
        
        {% include "header.html" %}

        <div class="info">
            <span class="icon"><i class="fa-regular fa-circle-user fa-2xl"></i></span> <br>

            <form>
                <label for="userName">Name  </label> <br>
                <input type="text" id="userName" onkeyup="requiredInput()" >
                <br>
            </form>

            <div>
                <label for="id">ID  </label>  <br>
                <input type="text" id="id" readonly required>
                <br>
                <label for="password">Password  </label>  <br>
                <input type="text" id="password" readonly required>
            </div> 
            <button type="submit" id="addButton">Add</button>
        </div>
        
        <script> 
        
        
        generateAndSetId();
        generateAndSetPassword();
      
        function requiredInput() {
	        if(document.getElementById("userName").value != "") { 
                document.getElementById("addButton").addEventListener("click", store);
                document.getElementById("addButton").addEventListener("click", redirect);
            }
        }
        

        
        
        </script>


    </body>
</html>
