{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title id="t">View All</title>
        <meta name="author" content="Hassan Magdi">
        <script src="{% static 'scripts/jquery-3.6.3.min.js' %}"></script>
        <script src="{% static 'scripts/script.js' %}"></script>
        <script src="{% static 'scripts/viewAll.js' %}"></script>
        <link  rel = "icon" href = "images/logo.jpg"  type = "image/x-icon">
        <script>
            loadHeader("#headerDiv");
        </script>
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/viewAll.css' %}">
        
        
    </head>
    <body>
        <div id="headerDiv"></div>
        
        <div class="head">
            <form id="form" > 
                <input type="search" id="searchInput" name="q" placeholder="Search student...">
              </form>
              
            </div>
        
        <hr>
        <div class ="table-box">
        <table id="searchInput">
            
            <thead >
                <th>Id</th>
                <th >Name</th>
                <th>Status<br><br>
                    <label>
                    <input type="checkbox" id="active">
                        Show Active only
                    </label>
                </th>
            </thead> 
            <div class ="table-content">
            {% csrf_token %}
            <tbody id="tableBody">
                {% for student in students %}
                    {% if student.studentStatus == "0" %}
                        <tr class="inactive" id="{{student.studentID}}">
                            <td>{{student.studentID}}</td>
                            <td>{{student.studentName}}</td>
                            <td><P style="color:red;">Inactive</p></td>
                        </tr>        
                    {% else %}
                        <tr class="Active" id="{{student.studentID}}">
                            <td>{{student.studentID}}</td>
                            <td>{{student.studentName}}</td>
                            <td><P style="color:green;">Active</p></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            </div>
            </table>
        <script>
            $(document).ready(function(){
    $(document.body).on("click",'#tableBody tr',function(){
        // window.location.href="app/profile/"+$(this).attr("id");
        let id=$(this).attr("id");
        // console.log(id);
        // window.location.href="{% url 'ShowProfile' 20230001 %}";
        // alert($(this).attr("id"));
    })
})
        </script>
        
    </body>
    </div>
    
</html>