{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title id="t">Department Assignment</title>
  <meta name="author" content="Nourhan Mahmoud" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/x-icon">
  
  <script src="{% static 'scripts/jquery-3.6.3.min.js' %}"></script>
  <script src="{% static 'scripts/script.js' %}"></script>
  <script src="{% static 'scripts/student.js' %}"></script>
  <script src="{% static 'scripts/department.js' %}"></script>

  <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/department.css' %}">

</head>

<body>
    
    <div class="DepartmentContainer">
      <div class="allForm">

        <h1>Department Assignment</h1>
        <form method="POST" action="{% url 'DepartmentAssign' st_id %}"> 
          {% csrf_token %}
          <div class="formContent">
            <div>
              <table class="centerTB">
                <tr>
                  <th>Student ID</th>
                  <th>Student Name</th>
                  <th>Current Department</th>
                </tr>
                {% if not stud %}
                <tr>
                  <td colspan="3">No student data available.</td>
                </tr>
                {% else %}
                <tr>
                  <td id="SID">{{ stud.studentID }}</td>
                  <td id="SName">{{ stud.studentName }}</td>
                  <td id="SDepartment">{{ stud.studentDepartment }}</td>
                </tr>
                {% endif %}
              </table>
            </div>
            <br /><br />

            <div>
              <label for="Department">Department: </label>
              <br /><br />
              <select name="studentDepartment">

                <option value="" disabled selected>Select a department</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Information System">Information System</option>
                <option value="Artificial Intelligence">Artificial Intelligence</option>
                <option value="Information Technology">Information Technology</option>
                <option value="Operations Research and Decision Support">Operations Research and Decision Support</option>
                <option value="Software Engineering">Software Engineering</option>
                <option value="Networks and Cybersecurity">Networks and Cybersecurity</option>
                <option value="Data Science">Data Science</option>
                <option value="Computing and Bioinformatics">Computing and Bioinformatics</option>

              </select>
              <br />

              <div>
                
                <button type="button" id="CancelButton">Cancel</button>
                <button type="submit" id="SubmitButton">Submit</button>
                
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
    

    <script>
      $(document).ready(function() {

        $('#departmentForm').submit(function(event) {
        event.preventDefault(); // Prevent the form from submitting normally which would cause the page to reload. Instead, asynchronously
      
        // Get the form data
        var formData = $(this).serialize();

        // Send an AJAX request
        $.ajax({
          url: '{% url "DepartmentAssign" st_id=st_id %}',
          type: $(this).attr('POST'),
          data: formData,
          success: function(response) {
            window.location.href= '{% url "AllStudents" %}';
          },
          error: function(xhr, status, error) {
            // Handle the error response
            console.log(xhr.responseText);
          }
        });
        });

        $('#CancelButton').click(function() {
          // Redirect to the show_profile page with same ID
          window.location.href = '{% url "ShowProfile" st_id=st_id %}';
        });

      });
    </script>

</body>

<!-- <script>

  assignDepartment();

  document.getElementById("SubmitButton").addEventListener("click", Submitted);

  document.getElementById("CancelButton").addEventListener("click", Cancel);

</script> -->

</html>