{% load static %}
<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        <link rel="stylesheet" href="{% static 'styles/index.css' %}">


        <title>Project 2023</title>
        
       


    </head>
    <body>
        
        <div class="topnav">
            <div class="title">PROJECT 2023 </div>
        </div>


        <div class="Full-grid">
            <button class="button" >Human Resources</button>
            <button class="Real_button" onclick="window.location.href='{% url \'Home\' %}'">Students Affairs</button>
            <button class="button">Higher Studies</button>
            <button class="button" >Labaoratory Tracking </button>

            

            </div>
        

    </body>
</html>