<!DOCTYPE html>
<html>
    <head>
        <title id="t">Login</title>
        <meta name="author" content="Mohamed Maged">
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="styles/login.css">
        <link rel="icon" href="images/logo.jpg" type="image/icon-x">
        <script src="/scripts/font_awesome_icons_kit.js"></script>
        <script src="scripts/jquery-3.6.3.min.js"></script>
        <script src="scripts/script.js"></script>
        <script src="scripts/user.js"></script>
    </head>
    <body>
        <div class="login-form">
            <p class="login-text">Log in</p>
            <p id="error-message" class="error"></p>
            <form id="loginForm" autocomplete="off">
                <div class="user-name">
                    <div class="icon" id="user-icon">
                        <i class="fa-solid fa-user" id="user-icon"></i>
                    </div>
                    <input type="text" name="userName" id="userName" placeholder="User Name" required>
                </div>
                <div class="password">
                    <div class="icon" id="pass-icon">
                        <i class="fa-solid fa-lock" id="password-icon"></i>
                    </div>
                    <div class="show-password">
                        <button type="button" class="show-password-btn" id="show-pass-icon" onclick="show_password()"><i class="fa-solid fa-eye-slash"></i></i></button>
                    </div>
                    <input type="password" name="password" id="password" placeholder="Password" required>    
                </div>
                <div> 
                    <!-- <button class="submit-btn" onclick="validate_input()">Log in</button> -->
                    <input type="button" id="submit-btn" class="submit-btn", onclick="validate_input()" value="Log in">
                </div>
            </form>
        </div>
        <script src="scripts/login.js"></script>
    </body>
</html>