{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title id = "t">View User</title>
        <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/x-icon">

        <meta name = "author" content = "Sara Walid">

        <script src = "{% static 'scripts/jquery-3.6.3.min.js'% }"></script>
        <script src = "{% static 'scripts/script.js' %}"></script>
        <script src = "{% static 'scripts/user.js' %}"></script>
        <script src = "{% static 'scripts/user_functions.js' %}"></script>

        <link rel = "stylesheet" type = "text/css" href = "{% static 'styles/style.css' %}">
        <link rel = "stylesheet" type = "text/css" href = "{% static 'styles/user_pages.css' %}">

    </head>


    <body>

        {% include "header.html" %}

        <div class="content">
            <span class="icon"><i class="fa-solid fa-user-pen fa-2xl"></i></span> <br>
            <br>
           
            <form id="updateUserForm" method="POST" action="{% url 'UpdateUser' %}">
                    {% csrf_token %}
            <div class="selection">
                    <label for="id">Select ID</label>
                    <select id="userId" name="userId" onchange="selectedIdChanged()">
                        <option value=""></option>
                        {% for user in users %}
                            <option value="{{ user.userId }}" {% if selected_user and selected_user.userId == user.userId %}selected{% endif %}>
                                {{ user.userId }}
                            </option>
                        {% endfor %}
                    </select>
                    <br>
            </div>
            
            <div class="data">
                <label for="name">Name</label><br>
                <input type="text" id="userName" name="userName" onkeyup="requiredInput()" value="{{ selected_user.userName }}" >
                <br>
                <label for="password">Password</label><br>
                <input type="password" id="userPassword" name="userPassword" onkeyup="requiredInput()" value="{{ selected_user.userPassword }}" >
                <br>
                <button type="button" id="generateButton" {% if not selected_user %}disabled{% endif %}>Generate</button>
                <input id="showPass" type="checkbox" onclick="togglePasswordVisibility()"> Show Password
                </div>
                <div>
                    
                    <button type="submit" id="saveButton">Save</button>
                    <button type="button" id="deleteButton">Delete</button>
        
                </div> 
                <script>

                    function selectedIdChanged(){
                        alert(document.getElementById("userId").value)
                    }

                    document.getElementById("deleteButton").addEventListener("click", function(){ 
                                
                                if(confirm("Are you sure you want to delete this user ?")){
                                    location.href = "delete/" + document.getElementById("userId").value;
                                }   
                            });
                            
                    // document.getElementById("saveButton").addEventListener("click", function(){ 

                    //             if(confirm("Are you sure you want to save changes you made ?")){
                    //                 location.href = "update/" + document.getElementById("userId").value;
                    //             }   
                    //         });
                    
                    
                </script>
                </form>
               
                
              
        
        </div>
        

        <script>

        // enable editing username and password 
        document.getElementById('generateButton').onclick = function(){
        document.getElementById('userPassword').readOnly = false; }


        function generateRandomPassword(length) {
        var characters = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@#$%&*()"; // List of characters to include in the password
        var password = "";
        
        for (var i = 0; i < length; i++) {
            var randomIndex = Math.floor(Math.random() * characters.length); // Generate random index to pick a character
            password += characters[randomIndex]; // Append the randomly picked character to the password
        } return password;
    }

        document.getElementById('generateButton').onclick = function generateAndSetPassword() {
        var generatedPassword = generateRandomPassword(8); // Generate a random password with length 8
        document.getElementById("userPassword").value = generatedPassword; // Set the generated password as the value of the input field
    }
    


        function requiredInput() {
	        if(document.getElementById("userName").value && document.getElementById("userPassword").value != "") { 
                document.getElementById("saveButton").addEventListener("click", save);
                document.getElementById("saveButton").addEventListener("click", redirect);

            }
        }

    //     const optionSelect = document.getElementById('userId');
    //     const deleteButton = document.getElementById('deleteButton');
    //     const saveButton = document.getElementById('saveButton');
      
    //     optionSelect.addEventListener('change', function() {
    //     if(optionSelect.value !== '') {
    //         saveButton.disabled = false;
    //         deleteButton.disabled = false;

    //     } else {
    //         saveButton.disabled = true;
    //         deleteButton.disabled = true;
    //     }
    //   });
        </script>
    </body>
</html>
