*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: var(--main-background-color);
}


.container .sidebar{
    background-color: var( --navigation-background-color);
    position: fixed;
    top: 0;
    left: -225px;
    width: 225px;
    height: 100%;
    padding: 3px 0;
    transition: all 0.5s ease;
}


.container .sidebar ul{
   padding: 0;
}


.container .sidebar ul li a ,
.container .sidebar .menu{
    display: block;
    color: var(--navigation-text-color);
    padding: 14px 16px;
    border-bottom:  1px solid var(--secondary-button-background-color);
    font-size: 16px;
    position: relative;
    

}


.container .sidebar ul li a .icon{
    color: var(--secondary-button-background-color);
    width: 30px;
    display: inline-block;

}

.container .sidebar ul li a:hover
{
    color: black;
    background-color: var(--navigation-text-color) ;

}

.container .sidebar ul li a:hover::before,
.container .sidebar ul li a.active::before{
    display: block;
}


.container .section{
    margin-left: 0;
    width: 100%;
    transition: all 0.5s ease;
    
    
}

.container .section .top-nav{
    background-color: var(--navigation-background-color);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.container .section .top-nav .nav span{
    font-size: 28px;
    color: white;

}

.container .section .top-nav .nav span:hover{
    cursor: pointer;
    color:var(--secondary-button-background-color) ;
}

.container .section .top-nav .nav span:active ,
.container .sidebar ul li a:active{
    opacity: 0.5;
}

.container .section .top-nav .title{
    margin-left: 50px;
    color: white;
  
}


body.active .container .sidebar{
    left: 0;

}

body.active .container .section{
    width: calc(100% - 215px);
    margin-left: 215px;

}
















